<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Insert Product</title>
</head>
<body>
    <h1>Add a new product</h1>

    <form>

        <label for="prodName">Name: </label>
        <input type="text" id="prodName"><br>

        <label for="prodBrand">Brand: </label>
        <input type="text" id="prodBrand"><br>

        <label for="prodPrice">Price: </label>
        <input type="text" id="prodPrice"><br>

        <input type="submit" id="submit" value="Save">
        <a href='http://localhost:3000/products/all'>Cancel</a>

    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const productId = '<%= productId %>';       
        const nameInput = document.getElementById("prodName");
        const brandInput = document.getElementById("prodBrand");
        const priceInput = document.getElementById("prodPrice");
        const btnSubmit = document.getElementById("submit");

        getProduct();

        btnSubmit.addEventListener("click", (event) => {
            event.preventDefault();
            
            let name = nameInput.value.trim();
            let brand = brandInput.value.trim();
            let price = priceInput.value.trim();

            if (name == "" || brand == "" || price == "") {
                alert("All fields are required.");
                return;
            }

            if (isNaN(price)) {
                alert("The price should be a number.");
                return;
            }

            const formData = {
                name: name,
                brand: brand,
                price: parseFloat(price)
            }

            axios.put(`http://localhost:3000/products/${productId}`, formData)
            .then(response => {
                alert("Product updated successfully.");
                window.location.replace('http://localhost:3000/products/all');
            })
            .catch(error => {
                console.log(error);
                alert("There was a problem updating the product.");
            });

        });

        function getProduct() {
            axios.get(`http://localhost:3000/products/${productId}`)
            .then(response => {
                let product = response.data;

                nameInput.value = product.name;
                brandInput.value = product.brand;
                priceInput.value = product.price;
            })
            .catch(error => {
                console.log(error);
                btnSubmit.disabled = true;
                alert("Problem when loading data");
            });
        }

    </script>
</body>
</html>