<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>All products</title>
</head>
<body>
    <div class="title container-fluid d-flex justify-content-between align-items-center pt-2 pb-2 ps-4 pe-4">
        <h1>All products</h1>
        <button id="newProduct" class="btn btn-outline-light">Add new product</button>
    </div>
    <hr class="my-0">

    <div class="container container-table">
        <table class="table table-hover">
            <thead class="table-dark">
                <th>Product</th>
                <th>Brand</th>
                <th>Price per unit</th>
                <th>Action</th>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>
    </div>

    <div class="container-fluid footer">
        <p>Adriana Fernández A01197148</p>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var allProducts;
        var table = document.getElementById("tableBody");
        var btnNew = document.getElementById("newProduct");

        btnNew.addEventListener("click", (event) => {
            window.location.replace(`http://localhost:3000/products/add`);
        });

        axios.get("http://localhost:3000/products")
        .then(response => {
            allProducts = response.data;
            console.log(allProducts);
            populateTable();
        })
        .catch(error => {
            console.log(error.response);
            alert("There was a problem retrieving the products' info.");
        });

        function populateTable() {
            allProducts.forEach(product => {
                let row = table.insertRow();
                let cellProduct = row.insertCell();
                let cellBrand = row.insertCell();
                let cellPrice = row.insertCell();
                let cellAction = row.insertCell();

                cellProduct.innerText = product.name;
                cellPrice.innerText = product.price.toFixed(2);
                if (product.brand) {
                    cellBrand.innerText = product.brand;
                }                

                let btnEdit = document.createElement("button");
                let btnDelete = document.createElement("button");

                btnEdit.appendChild(document.createTextNode("Edit"));
                btnDelete.appendChild(document.createTextNode("Delete"));

                btnEdit.addEventListener("click", (event => {
                    window.location.replace(`http://localhost:3000/products/${product._id}/edit`);
                }));

                btnDelete.addEventListener("click", (event) => {
                    if (confirm("Are you sure you want to delete the product?")) {
                        axios.delete(`http://localhost:3000/products/${product._id}`)
                        .then(response => {
                            row.parentNode.removeChild(row);
                            alert("Product deleted succesfully.");
                        })
                        .catch(error => {
                            console.log(error.response);
                            alert("There was a problem deleting the product.")
                        });
                    }
                });

                cellAction.appendChild(btnEdit);
                cellAction.appendChild(btnDelete);

                btnEdit.className = "btn btn-outline-warning btn-sm me-2";
                btnDelete.className = "btn btn-outline-danger btn-sm";

                cellProduct.className = "tcell";
                cellBrand.className = "tcell";
                cellPrice.className = "tcell";
            });
        }

    </script>
</body>
</html>